The number of birds banded at a series of sampling sites has been counted by your field crew and entered into the following list. The first item in each sublist is an alphanumeric code for the site and the second value is the number of birds banded. Cut and paste the list into your assignment and then answer the following questions by printing them to the screen.

In [1]:
data = [['A1', 28], ['A2', 32], ['A3', 1], ['A4', 0],
        ['A5', 10], ['A6', 22], ['A7', 30], ['A8', 19],
		['B1', 145], ['B2', 27], ['B3', 36], ['B4', 25],
		['B5', 9], ['B6', 38], ['B7', 21], ['B8', 12],
		['C1', 122], ['C2', 87], ['C3', 36], ['C4', 3],
		['D1', 0], ['D2', 5], ['D3', 55], ['D4', 62],
		['D5', 98], ['D6', 32]]

In [2]:
data

[['A1', 28],
 ['A2', 32],
 ['A3', 1],
 ['A4', 0],
 ['A5', 10],
 ['A6', 22],
 ['A7', 30],
 ['A8', 19],
 ['B1', 145],
 ['B2', 27],
 ['B3', 36],
 ['B4', 25],
 ['B5', 9],
 ['B6', 38],
 ['B7', 21],
 ['B8', 12],
 ['C1', 122],
 ['C2', 87],
 ['C3', 36],
 ['C4', 3],
 ['D1', 0],
 ['D2', 5],
 ['D3', 55],
 ['D4', 62],
 ['D5', 98],
 ['D6', 32]]

In [5]:
import pandas as pd
import numpy as np

In [6]:
len(data)

26

In [9]:
data = pd.DataFrame(data)

In [10]:
data

     0    1
0   A1   28
1   A2   32
2   A3    1
3   A4    0
4   A5   10
5   A6   22
6   A7   30
7   A8   19
8   B1  145
9   B2   27
10  B3   36
11  B4   25
12  B5    9
13  B6   38
14  B7   21
15  B8   12
16  C1  122
17  C2   87
18  C3   36
19  C4    3
20  D1    0
21  D2    5
22  D3   55
23  D4   62
24  D5   98
25  D6   32

In [16]:
data = data.rename(columns = {0: "site", 1:"count"})
data

   site  count
0    A1     28
1    A2     32
2    A3      1
3    A4      0
4    A5     10
5    A6     22
6    A7     30
7    A8     19
8    B1    145
9    B2     27
10   B3     36
11   B4     25
12   B5      9
13   B6     38
14   B7     21
15   B8     12
16   C1    122
17   C2     87
18   C3     36
19   C4      3
20   D1      0
21   D2      5
22   D3     55
23   D4     62
24   D5     98
25   D6     32

How many sites are there?

How many birds were counted at the 7th site?

How many birds were counted at the last site?

What is the total number of birds counted across all sites?

What is the average number of birds seen on a site?

What is the total number of birds counted on sites with codes beginning with C? (don’t just identify this sites by eye, in the real world there could be hundreds or thousands of sites)

In [17]:
len(data.site.unique())

26

- there are 26 unique sites