#### The number of birds banded at a series of sampling sites has been counted by your field crew and entered into the following list. The first item in each sublist is an alphanumeric code for the site and the second value is the number of birds banded. Cut and paste the list into your assignment and then answer the following questions by printing them to the screen.

In [1]:
data = [['A1', 28], ['A2', 32], ['A3', 1], ['A4', 0],
        ['A5', 10], ['A6', 22], ['A7', 30], ['A8', 19],
		['B1', 145], ['B2', 27], ['B3', 36], ['B4', 25],
		['B5', 9], ['B6', 38], ['B7', 21], ['B8', 12],
		['C1', 122], ['C2', 87], ['C3', 36], ['C4', 3],
		['D1', 0], ['D2', 5], ['D3', 55], ['D4', 62],
		['D5', 98], ['D6', 32]]

In [2]:
data

[['A1', 28],
 ['A2', 32],
 ['A3', 1],
 ['A4', 0],
 ['A5', 10],
 ['A6', 22],
 ['A7', 30],
 ['A8', 19],
 ['B1', 145],
 ['B2', 27],
 ['B3', 36],
 ['B4', 25],
 ['B5', 9],
 ['B6', 38],
 ['B7', 21],
 ['B8', 12],
 ['C1', 122],
 ['C2', 87],
 ['C3', 36],
 ['C4', 3],
 ['D1', 0],
 ['D2', 5],
 ['D3', 55],
 ['D4', 62],
 ['D5', 98],
 ['D6', 32]]

In [3]:
import pandas as pd
import numpy as np

In [4]:
len(data)

26

In [5]:
data = pd.DataFrame(data)

In [6]:
data

     0    1
0   A1   28
1   A2   32
2   A3    1
3   A4    0
4   A5   10
5   A6   22
6   A7   30
7   A8   19
8   B1  145
9   B2   27
10  B3   36
11  B4   25
12  B5    9
13  B6   38
14  B7   21
15  B8   12
16  C1  122
17  C2   87
18  C3   36
19  C4    3
20  D1    0
21  D2    5
22  D3   55
23  D4   62
24  D5   98
25  D6   32

In [7]:
data = data.rename(columns = {0: "site", 1:"count"})
data

   site  count
0    A1     28
1    A2     32
2    A3      1
3    A4      0
4    A5     10
5    A6     22
6    A7     30
7    A8     19
8    B1    145
9    B2     27
10   B3     36
11   B4     25
12   B5      9
13   B6     38
14   B7     21
15   B8     12
16   C1    122
17   C2     87
18   C3     36
19   C4      3
20   D1      0
21   D2      5
22   D3     55
23   D4     62
24   D5     98
25   D6     32

How many sites are there?

How many birds were counted at the 7th site?

How many birds were counted at the last site?

What is the total number of birds counted across all sites?

What is the average number of birds seen on a site?

What is the total number of birds counted on sites with codes beginning with C? (don’t just identify this sites by eye, in the real world there could be hundreds or thousands of sites)

In [8]:
# how many sites are there
len(data.site.unique())

26

- there are 26 unique sites

In [9]:
# how many birds were at site 7
data.iloc[6]

site     A7
count    30
Name: 6, dtype: object

In [10]:
# how many birds were at the last site
data.iloc[-1]

site     D6
count    32
Name: 25, dtype: object

In [11]:
# total number of birds across all sites
data['count'].sum()

955

In [12]:
#average number of birds
data['count'].sum()/len(data)

36.73076923076923

In [13]:
# total number of birds starting with site code c
def count_c_group(data):
    count = 0
    for site in data.site:
        if site[0].startswith('C'):
            count += 1
    return count

count_c_group(data)

4

# part 2

Dr. Granger is interested in studying the relationship between the length of house-elves’ ears and aspects of their DNA. This research is part of a larger project attempting to understand why house-elves possess such powerful magic. She has obtained DNA samples and ear measurements from a small group of house-elves to conduct a preliminary analysis (prior to submitting a grant application to the Ministry of Magic) and she would like you to conduct the analysis for her (she might know everything there is to know about magic, but she sure doesn’t know much about computers). She has placed the file on the web for you to download.

You might be able to do this analysis by hand in Excel, but counting all of those bases would be a lot of work, and besides, Dr. Granger seems to always get funded, which means that you’ll be doing this again soon with a much larger dataset. So, you decide to write a script so that it will be easy to do the analysis again.

In [14]:
import pandas as pd

In [15]:
df = pd.read_csv('houseelf_earlength_dna_data.csv')
df.head()

    id  earlength                                             dnaseq
0  17A        5.1  CCGCATCTTGACTTAACTGACATATTACCATAGATGACTAGCCATG...
1  24P        7.5  GCTATGACTTGCTTAGCTACGTATGAAGGAAGAAACTTTTGTGTAT...
2  09Q       12.2  CCGCCGATTGATACAGGGGACGGTGACGTCGTCATAGATTCGGCAC...
3  65Y        9.9  GCAGGAGAAGTTCTTAACCTTCTCGTAGGACGTCAACCTATTCTTT...
4  19N       10.0  TCTTCATCCTTATCAAAGTTTGGAGTCAATGATCAGGATTATTGCC...

- Write a Python script that:

- Imports the data into a data structure of your choice

- Loops over the rows in the dataset

- For each row in the dataset checks to see if the ear length is large (>10 cm) or small (<=10 cm) and determines the GC-content of the DNA sequence (i.e., the percentage of bases that are either G or C)

- Stores this information in a table where the first column has the ID for the individual, the second column contains the string ‘large’ or the string ‘small’ depending on the size of the individuals ears, and the third column contains the GC content of the DNA sequence.

- Prints the average GC-content for both large-eared elves and small-eared elves to the screen.

- Exports the table of individual level GC values to a CSV (comma delimited text) file titled grangers_analysis.csv.

In [16]:
def over_10(df):
    if df.earlength > 10:
        return 'large'
    else:
        return 'small'

In [17]:
df['over_10']= df.apply(over_10, axis = 1)

In [18]:
# shows df 
df

    id  earlength                                             dnaseq over_10
0  17A        5.1  CCGCATCTTGACTTAACTGACATATTACCATAGATGACTAGCCATG...   small
1  24P        7.5  GCTATGACTTGCTTAGCTACGTATGAAGGAAGAAACTTTTGTGTAT...   small
2  09Q       12.2  CCGCCGATTGATACAGGGGACGGTGACGTCGTCATAGATTCGGCAC...   large
3  65Y        9.9  GCAGGAGAAGTTCTTAACCTTCTCGTAGGACGTCAACCTATTCTTT...   small
4  19N       10.0  TCTTCATCCTTATCAAAGTTTGGAGTCAATGATCAGGATTATTGCC...   small
5  92K       14.6  ACCGATGGACAATGATTCGGGTAGCACCAGGAGTCCGTAGCGCGTG...   large
6  33W        8.2  CAGCTTGACTCGGTCTGTTAGGCCACGATTACGTGAGTTAGGGCTC...   small
7  98C       17.8  CTGCATGCTAGGTTGACACGCCTGCACTGCTCGAAGAAAATATGCG...   large
8  75G        9.4  CTTATTTAGATAACATGATTAGCCGAAGTTGTACGGGATATCCACC...   small
9  88Q       11.3  GATTGCTCGCACATGAGCAAAACGGTAGAGCGTCACTTTCAGCCCT...   large